
<!-- Conteúdo do modal -->
<div class="modal fade Postion-Modal" id="CreateSection" tabindex="-1" role="dialog" aria-labelledby="CreateSectionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="CreateProdutosLabel">Criar novo produto para seção </h5>
            </div>

            <div class="modal-body">
                <form id="createSectionForm" asp-action="SectionCreateProdutos" asp-controller="FrontStore" method="post">
                    <input type="hidden" id="InputLojaId" name="LojaId" />
                    <input type="hidden" id="InputSectionId" name="SectionId" />


                    <div class="file-input-wrapper form-group" id="additionalFields">   

                       <div class="file-input-container input-container remove-continer">
                            <label for="nomeProduto" class="file-input">Nome:</label>
                            <input type="text" name="nomeProduto" id="nomeProduto" required>
                       </div>   

                        <div class="file-input-container input-container remove-continer" >
                            <label for="nomeDescricao" class="file-input">Descrição:</label>
                            <input type="text" name="nomeDescricao" id="nomeDescricao" required>
                        </div>

                        <div class="file-input-container input-container remove-continer">
                            <label for="valor" class="file-input">Valor:</label>
                            <input type="text" name="valorInput" id="valor" pattern="[0-9]+([\.,][0-9]+)?" title="Digite um número válido" required>
                        </div>

                     </div>
                   
                    <button type="submit" class="formBtn modalbtn" style="margin-bottom: 1rem;">Criar</button>
                </form>
            </div>

            
        </div>
    </div>
</div>