<style type="text/css">
    /* Estilize o fundo do modal */
.modal-content {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Estilize o cabeçalho do modal */
.modal-header {
    background-color: #5398FF;
    color: #fff;
    border-bottom: 1px solid #dee2e6;
    padding: 1rem;
}

/* Estilize o título do modal */
.modal-title {
    font-size: 1.25rem;
    margin: 0;
}

/* Estilize o corpo do modal */
.modal-body {
    padding: 1rem;
}

    .file-input-container {
        flex: 1;
        display:flex;
        position: relative;
        border: none;
        padding: 0;
    }

    .input-container {
        width: 100%;
    }
    .container-space{
        margin-bottom: 2rem;
    }

    .file-input {
        position: absolute;
        top: -16px;
        left: 8px;
        background-color: #fff;
        padding: 5px;
        font-weight: bold;
        font-size: 14px;
        z-index: 1;
    }

    .formBtn {
        display: flex;
        margin: 0 auto;
        margin-bottom: 2%;
        width: 32%;
        height: 3rem;
        font-weight: 700;
        align-items: center;
        justify-content: center;
    }
    .input-config{
        top: -11px;
        left: 11px;
        padding: 0px;
    }

/* Estilize o botão de submit */


 </style>
<!-- Conteúdo do modal Criar Loja -->
<div class="modal fade" id="EditeNameSection" tabindex="-1" role="dialog" aria-labelledby="EditeNameSectionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Editar Seção: </h5>
            </div>

            <div class="modal-body">

                <form asp-action="EditeSection" asp-controller="FrontStore" method="post">
                   <input type="hidden" id="LojaIdInput" name="LojaId" />
                   <input type="hidden" id="SectionIdInput" name="SectionId" />

                    <div class="file-input-container input-container container-space">
                        <label for="nome" class="file-input input-config">Nome:</label>
                        <input type="text" name="nome" id="nome" required onclick="selecionarTexto()">
                    </div>

                

                     <button type="submit"  class="formBtn">Editar Seção</button>
                </form>
            </div>
        </div>
    </div>
</div>


