/* _content/Store_Project/Views/Shared/_CreateProdutosModal.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-cvreujwjtn] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-cvreujwjtn] {
  color: #0077cc;
}

.btn-primary[b-cvreujwjtn] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-cvreujwjtn], .nav-pills .show > .nav-link[b-cvreujwjtn] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-cvreujwjtn] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-cvreujwjtn] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-cvreujwjtn] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-cvreujwjtn] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-cvreujwjtn] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Store_Project/Views/Shared/_CreateSection.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-kl7pm4g1mr] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-kl7pm4g1mr] {
  color: #0077cc;
}

.btn-primary[b-kl7pm4g1mr] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-kl7pm4g1mr], .nav-pills .show > .nav-link[b-kl7pm4g1mr] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-kl7pm4g1mr] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-kl7pm4g1mr] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-kl7pm4g1mr] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-kl7pm4g1mr] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-kl7pm4g1mr] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Store_Project/Views/Shared/_DeleteLojaModal.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-psj4am5797] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-psj4am5797] {
  color: #0077cc;
}

.btn-primary[b-psj4am5797] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-psj4am5797], .nav-pills .show > .nav-link[b-psj4am5797] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-psj4am5797] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-psj4am5797] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-psj4am5797] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-psj4am5797] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-psj4am5797] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Store_Project/Views/Shared/_DeleteSectionModal.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-rqwko0e7rh] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rqwko0e7rh] {
  color: #0077cc;
}

.btn-primary[b-rqwko0e7rh] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rqwko0e7rh], .nav-pills .show > .nav-link[b-rqwko0e7rh] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rqwko0e7rh] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rqwko0e7rh] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rqwko0e7rh] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rqwko0e7rh] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-rqwko0e7rh] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Store_Project/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-itevhj2lwa] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-itevhj2lwa] {
  color: #0077cc;
}

.btn-primary[b-itevhj2lwa] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-itevhj2lwa], .nav-pills .show > .nav-link[b-itevhj2lwa] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-itevhj2lwa] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-itevhj2lwa] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-itevhj2lwa] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-itevhj2lwa] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-itevhj2lwa] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
