@model List<Teste>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var teste in Model)
{
        <p>Date: @teste.date</p>
        <p>Temperature in Celsius: @teste.temperatureC</p>
        <p>Temperature in Fahrenheit: @teste.temperatureF</p>
        <p>Summary: @teste.summary</p>
}